/*


@mixin respond-phone {
    @media (max-width: 600px) { @content }; //@content we can pass an entire block of code}
0 - 600px:      Phone
600 - 900px:    Tablet Portrait
900 - 1200px:   Tablet Landscape
1200 - 1800px:  Desktop, normal styles apply
1800px +:       Big Desktop

$breakpoint argurement choices:
- phone 
- tab-port
- tab-land
- big-desktop

1em = 16px
*/
/*background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-light, 0.8), 
        rgba($color-primary-dark, 0.8)),
    url(../img/hero-small.jpg);*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transformX: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*inherit from body*/ }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  min-width: 36rem; }

::selection {
  background-color: #3238bc;
  color: #ffffff; }

a {
  text-decoration: none;
  color: #212121; }
  a:visited {
    color: #212121; }
  a:hover {
    color: #878787; }

img {
  max-width: 100%; }

.clearfix::after {
  clear: both;
  content: "";
  display: table; }

.spacer {
  margin-bottom: 5rem; }

body {
  font-family: "Baloo Chettan 2", "open sans";
  font-weight: 400;
  line-height: 1.7;
  color: #282828;
  background-color: #fff;
  overflow-x: hidden; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.text-center {
  text-align: center; }

.full-width {
  width: 100%; }

.uppercase {
  text-transform: uppercase; }

.font-bold {
  font-weight: bold; }

.button {
  border: 1px solid #000000;
  padding: 12px 40px;
  color: #212121;
  background-color: #ffffff;
  cursor: pointer; }
  .button:hover {
    color: #ffffff;
    background: #000116; }
  .button.active {
    color: #ffffff;
    background: #000116; }

.button-reverse {
  border: 1px solid #000000;
  padding: 8px 30px;
  color: #ffffff;
  background-color: #000000;
  cursor: pointer; }
  .button-reverse:hover {
    color: #000000;
    background: #ffffff; }

.hero-button {
  cursor: pointer; }
  .hero-button span {
    color: #212121;
    background-color: #ffffff;
    border: 1px solid #000000;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 1.4rem 5rem; }
    .hero-button span:hover {
      color: #ffffff;
      background: #000116; }
    @media only screen and (max-width: 37.5em) {
      .hero-button span {
        padding: 1.3rem; } }

.hero {
  width: 100%;
  display: flex;
  min-height: 500px;
  padding-top: 1rem;
  margin: 0 auto;
  justify-content: space-between;
  background-color: #f7f7f7;
  margin-bottom: 5rem; }
  .hero-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 120rem;
    width: 80%;
    padding-bottom: 2rem;
    transition: transform 0.2s ease-in-out; }
    @media only screen and (max-width: 37.5em) {
      .hero-wrapper {
        flex-direction: column-reverse;
        text-align: center;
        margin-bottom: 2rem; } }
  .hero-imageWrapper {
    width: 38rem;
    height: 52rem;
    padding-top: 4rem;
    animation: moveInLeft 1s ease-out; }
    @media only screen and (max-width: 37.5em) {
      .hero-imageWrapper {
        width: 18rem;
        height: 32rem;
        padding-top: 1rem; } }
    .hero-imageWrapper img {
      width: 100%;
      height: 100%; }
  .hero-textHeading {
    font-size: 7rem;
    font-weight: 900;
    line-height: 1em;
    padding-bottom: 3rem;
    color: #000000;
    animation: moveInRight 1s ease-out; }
    @media only screen and (max-width: 75em) {
      .hero-textHeading {
        font-size: 6rem; } }
    @media only screen and (max-width: 37.5em) {
      .hero-textHeading {
        font-size: 4rem;
        text-align: center;
        justify-content: center; } }
  .hero-textSpan {
    margin-top: 1rem;
    font-size: 2.8rem;
    animation: moveInRight 1.5s ease-out; }
  .hero-button {
    margin-top: 5rem;
    animation: moveInBottom 1s ease-out; }

.logo {
  padding-top: 1rem;
  width: 7rem; }
  @media only screen and (max-width: 37.5em) {
    .logo {
      width: 6rem; } }
  .logo__img {
    width: 100%; }
  .logo__text {
    color: #000116; }
  @media only screen and (max-width: 56.25em) {
    .logo {
      margin-left: 40%; } }

.navbar {
  align-self: stretch;
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  font-weight: 500; }
  .navbar-links {
    color: #000116; }
    @media only screen and (max-width: 56.25em) {
      .navbar-links {
        display: none; } }
  .navbar > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
  .navbar > *:hover {
    background-color: white;
    border-top: 2px solid #000116; }
  .navbar__icon-box {
    position: relative; }
  .navbar__icon {
    height: 2.45rem;
    width: 2.45rem;
    fill: #000116; }
    @media only screen and (max-width: 37.5em) {
      .navbar__icon {
        height: 2rem;
        width: 2rem; } }
  .navbar__notification {
    font-size: 0.8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: #3238bc;
    color: #ffffff;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .navbar__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem; }
  .navbar-user {
    justify-content: flex-end; }

.main-sub {
  position: absolute;
  display: none;
  height: 0;
  transition: all 2s ease;
  background-color: #f7f7f7;
  z-index: 10; }

.navbar__shop:hover + .main-sub {
  display: flex;
  justify-content: space-between;
  height: 510px;
  width: 87%;
  top: 9rem; }

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%; }

.sticky + .main {
  padding-top: 9rem; }

.mobile-sticky {
  position: fixed; }

#mobile-nav {
  height: 0;
  z-index: 1000; }

#menuToggle {
  display: none;
  position: relative;
  top: 25px;
  left: 25px;
  padding-left: 10px;
  z-index: 100;
  -webkit-user-select: none;
  user-select: none; }
  @media only screen and (max-width: 56.25em) {
    #menuToggle {
      display: block; } }
  @media only screen and (max-width: 37.5em) {
    #menuToggle {
      left: 0; } }

#menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease; }

#menuToggle a:hover {
  color: #3238bc; }

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 100;
  /* and place it over the hamburger */
  -webkit-touch-callout: none; }

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #212121;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }

#menuToggle span:first-child {
  transform-origin: 0% 0%; }

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%; }

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323; }

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2); }

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px); }

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 300px;
  min-height: 100vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }

#menu li {
  padding: 10px 0;
  font-size: 22px; }

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none; }

.footer {
  background-color: #000116;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #f7f7f7; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer .footer-wrapper {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    max-width: 120rem;
    font-size: 1.6rem; }
    @media only screen and (max-width: 37.5em) {
      .footer .footer-wrapper {
        flex-direction: column; } }
  @media only screen and (max-width: 37.5em) {
    .footer .footer-newsletter {
      text-align: center; } }
  .footer .footer-heading {
    font-size: 2.6rem; }
  .footer .footer-icons-wrapper {
    display: flex;
    justify-content: space-between; }
  .footer .icon-box {
    position: relative; }
  .footer .icon {
    height: 2.45rem;
    width: 2.45rem;
    fill: #ffffff; }

.header-container {
  width: 100vw;
  border-bottom: 1px solid #d6d6d6;
  background-color: #f7f7f7;
  z-index: 100; }

header.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 120rem;
  margin: 0 auto;
  height: 9rem;
  background-size: cover;
  background-position: top;
  position: relative;
  color: #212121;
  font-size: 1.6rem; }
  @media only screen and (max-width: 37.5em) {
    header.header {
      width: 100%; } }

section.wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 120rem; }
  section.wrapper h1 {
    font-size: 3.8rem; }
  section.wrapper p {
    font-size: 1.6rem; }

.tab-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px 30px; }
  @media only screen and (max-width: 56.25em) {
    .tab-content {
      grid-template-columns: 1fr 1fr; } }
  @media only screen and (max-width: 37.5em) {
    .tab-content {
      grid-template-columns: 1fr; } }

#onsale.tab-content {
  display: none; }

.product {
  border-radius: 4px;
  transition: transform 0.2s ease-in-out; }
  .product:hover {
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
    transform: scale(1.1); }
  .product-name {
    font-size: 1.6rem;
    color: #212121;
    text-align: center; }
  .product-price {
    font-size: 1.6rem;
    color: #6e6e6e;
    text-align: center; }

.newsletter {
  height: 28rem;
  padding: 3.5rem 1.5rem;
  background-image: linear-gradient(to right bottom, rgba(50, 57, 188, 0.3), rgba(0, 1, 22, 0.3)), url(../../img/OmegaHintergund_1728x.jpg);
  background-size: cover;
  width: 100%;
  color: #f7f7f7;
  background-color: #000000; }
  .newsletter-heading {
    font-size: 4rem; }
  .newsletter-text {
    font-size: 1.6rem; }
  .newsletter-wrapper {
    max-width: 120rem;
    margin: 0 auto; }
    .newsletter-wrapper .input-wrapper {
      display: flex;
      position: relative; }
      .newsletter-wrapper .input-wrapper input[type="email"] {
        width: 35rem;
        height: 4.5rem;
        background-color: #ffffff;
        display: inline-block;
        padding: 7px 7px; }
      .newsletter-wrapper .input-wrapper input[type="submit"] {
        left: 32rem;
        top: 0.6rem; }

.brands h1 {
  font-size: 3.8rem; }

.brands-text {
  margin: 0 auto;
  width: 60%;
  font-size: 1.6rem;
  max-width: 120rem; }

.brands .brands-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px 30px;
  width: 60%;
  margin: 0 auto;
  max-width: 120rem; }
  @media only screen and (max-width: 37.5em) {
    .brands .brands-wrapper {
      grid-template-columns: 1fr 1fr; } }

.brands .brands-product {
  position: relative; }
  .brands .brands-product-text {
    position: absolute;
    font-size: 2.5rem;
    font-weight: 500;
    top: 0;
    left: 1rem; }
