.footer {
  background-color: $color-primary-dark;

  padding: 10rem 0;
  font-size: 1.4rem;
  color: $text-color-light;

  @include respond(tab-port) {
    padding: 8rem 0;
  }
  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    max-width: 120rem;
    font-size: $default-font-size;
    @include respond(phone) {
      flex-direction: column;
    }
  }
  .footer-newsletter {
    @include respond(phone) {
      text-align: center;
    }
  }
  .footer-heading {
    font-size: 2.6rem;
  }
  .footer-icons-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .icon-box {
    position: relative;
  }

  .icon {
    height: 2.45rem;
    width: 2.45rem;
    fill: $text-color-white;
  }
}
